.logo-image {
  width: 100px;
  height: 100px;
  max-height: 3.4rem !important;
}


.navbar-brand .navbar-item {
  padding: 0;
}


.logo-text {
  display: block;
  margin: auto;
  font-size: 2em;
  color: black;
  font-weight: 700;
}
.logo-link-wrapper {
  display: flex;
}
