.TeamBios {
  &__card {
    flex-direction: column;
    margin: auto;
    width: 250px;
  }

  &__card-content {
    flex-direction: column;
    height: 100%;
    padding: 1.8rem;
  }

  &__avatar-wrapper {
    margin: 0 auto;
  }

  &__avatar-wrapper > figure > img {
    filter: grayscale(100%) drop-shadow(1px 1px 1px #222);
  }

  &__details {
    margin-top: 20px;
  }

  &__details > a {
    color: rgba(0, 209, 178, 0.7);
  }

  &__bio {
    margin-top: 20px;
  }
}
